<div class="login-box">
<div class="square">
<div class="login"> 
  <h2>LOGIN</h2>
  <form id ="loginForm">
    <div class="inputBox">
    <input type="email" id="email" name="email" required placeholder="e-mail address">
    </div>
    <div class="inputBox">
    <input type="password" id="password" name="password" required placeholder="password" >
    </div>
     <button type="submit" id="submit-login">
          Sign in
        </button>
  </form>
  <div class="links">
  <a href="/api/sessions/github"> Autenticarse con Git</a>
  <a href="/register"> registrate aquí</a>
  <a href="/recoverPassword"> Restaurar Contraseña</a>
  </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script  src="js/index.js"></script>
<script  src="js/login.js"></script>