<div class="login-box">
<div class="square">
  <i style ="overflow: hidden;;"></i>
  <i style ="overflow: hidden;;"></i>
  <i style ="overflow: hidden;;"></i>
<div class="login"> 
  <h2>LOGIN</h2>
  <form id ="loginForm">
    <div class="inputBox">
    <input type="email" id="email" name="email" required placeholder="e-mail address">
    </div>
    <div class="inputBox">
    <input type="password" id="password" name="password" required placeholder="password" >
    </div>
    <button id= "submit-login" class="inputBox">
    <input type="submit" value = "Sign in">
    </button >
  </form>
  <div class="links">
  <a href="/api/sessions/github"> Autenticarse con Git</a>
  <a href="/register"> registrate aquí</a>
  <a href="/recoverPassword"> Restaurar Contraseña</a>
  </div>
</div>
</div>
</div>

<script src="js/login.js"></script>