<div class="recover-password-container">

  <form id="recoverPassForm" class="recover-password-form">
    <label class="recover-password-label">Type your email address</label>
    <input type="email" id="email" name="email" class="recover-password-input" required>
    <input type="submit" value="Send" class="recover-password-submit">
  </form>
  
  <a href="/" class="recover-password-return-link"><button class="recover-password-return-button">Volver</button></a>
</div>
<script type="module" src="js/recoverPass.js"></script>


