<div class="register-container">
  <h1 class="register-title">Register</h1>

  <form id="registerForm" class="register-form">
    <label for="first_name" class="form-label">Nombre:</label>
    <input type="text" id="first_name" name="first_name" class="form-input" required><br>

    <label for="last_name" class="form-label">Apellido:</label>
    <input type="text" id="last_name" name="last_name" class="form-input" required><br>

    <label for="age" class="form-label">Edad:</label>
    <input type="number" id="age" name="age" class="form-input" required><br>

    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" name="email" class="form-input" required><br>

    <label for="password" class="form-label">Contraseña:</label>
    <input type="password" id="password" name="password" class="form-input" required><br>

    <input type="submit" value="Registrar" class="submit-button">
  </form>

  <p class="login-prompt">Ya tienes cuenta?</p>
  <a href="/" class="login-link"><button class="login-button">Ingresa aquí</button></a>
</div>
<script src="js/register.js"></script>