<div>
  <h1>type your new password</h1>

  <form id ="recoverPassForm">
    <label>new password</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value = "send">
  </form>
  <a href="/"><button> volver</button></a>
  
</div>
<script>
  var user = "{{ user }}";
  var token = "{{ token }}";
</script>
<script src="js/resetPass.js"></script>
